In [1]:
import numpy as np 
import pandas as pd

In [2]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [9]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [10]:
df.fillna(value='FIIIILLED')

           A          B  C
0          1          5  1
1          2  FIIIILLED  2
2  FIIIILLED  FIIIILLED  3

In [11]:
df.fillna(value=df.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3